:root{
    --background :rgb(10, 10, 20);
    --primary:rgb(0, 255,157);
    --secondary:rgb(0, 191, 255);
    --text-color: rgb(230, 230, 230);
    --highlight:rgb(255,20,147);
}
body{
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.header{
    background-color: var(--primary);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--background);
    display: flex;
    justify-content: space-between;
    
}
.header a{
    color: var(--background);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.header a:hover{
    color: var(--highlight);
    cursor: pointer;
}
main{
    padding: 20px;
}
#intro{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color:var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: var(--secondary);
    text-align: center;
    
}
h1 p{
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
}
span{
    color: var(--highlight);
    font-weight: bold;
}
#intro img{
    width: 300px;
    border-radius: 40px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hire{
    background-color: var(--primary);
    color: var(--background);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease ;
    transition: transform 0.3s ease;
    font-weight: bold;
}
.hire:hover{
    background-color: var(--highlight);
    transform: scale(1.02);
}
#about{
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    color: var(--text-color);
    
}
h2{
    color: var(--secondary);
    margin-bottom: 10px;
}
h2 p{
    margin: 0;
    line-break: anywhere;
}
.card{
    background-color: rgb(20, 20, 30);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    
}
.years-of-experience{
    text-align: center;
    background-color: rgb(30, 30, 40);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.years-of-experience h2{
    font-size: 48px;
    margin: 0;
    
}
.years-of-experience p{
    font-size: 18px;
    margin: 5px 0 0 0;
}
#main{
    margin-bottom: 40px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: var(--text-color);
    position:relative
}
.container h2{
    text-align: center;
    margin-bottom: 30px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.container button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary);
    color: var(--background);
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    font-weight: bold;
}
.container button:hover{
    background-color: var(--highlight);
    transform: scale(1.05);
}
.project-card{
    align-items: center;
    background-color: rgb(20, 20, 30);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.project-card img{
    width: 100%;
    border-radius: 10px;
    height: auto;
    margin-bottom: 10px;
}
.project-card h3{
    margin: 0 0 10px 0;
    color: var(--secondary);
}
#contact{
    background-color: rgb(10, 10, 20);
    text-align: center;
    color: var(--text-color);
}
form{
    align-items: center;
    gap: 5px;
    background-color: rgb(20, 20, 30);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;

}
form input, form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
form button{
    background-color: var(--primary);
    color: var(--background);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
form button:hover{
    background-color: var(--highlight);
}
footer{
    background-color: rgb(20, 20, 30);
    color: var(--text-color);
    text-align: center;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    font-weight: bold;

}